@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-secondary-fixed-dim: #b6c6ef;
  --color-surface-variant: #e1e3e4;
  --color-on-primary-fixed-variant: #930012;
  --color-on-tertiary-fixed-variant: #004f4f;
  --color-outline: #926e6b;
  --color-tertiary-container: #007878;
  --color-on-primary-container: #ffe9e7;
  --color-inverse-primary: #ffb3ad;
  --color-on-secondary-fixed: #081b3a;
  --color-on-background: #191c1d;
  --color-on-secondary-container: #4b5b7e;
  --color-surface-container-low: #f3f4f5;
  --color-secondary-container: #c4d4fd;
  --color-tertiary-fixed: #93f2f2;
  --color-tertiary: #005d5d;
  --color-surface-container-lowest: #ffffff;
  --color-surface: #f8f9fa;
  --color-on-secondary-fixed-variant: #364768;
  --color-primary-fixed-dim: #ffb3ad;
  --color-surface-bright: #f8f9fa;
  --color-surface-container: #edeeef;
  --color-surface-tint: #fc1026;
  --color-secondary: #4e5e81;
  --color-on-primary: #ffffff;
  --color-secondary-fixed: #d8e2ff;
  --color-background: #f8f9fa;
  --color-on-secondary: #ffffff;
  --color-on-surface-variant: #5d3f3c;
  --color-primary-container: #fc1026;
  --color-error: #ba1a1a;
  --color-outline-variant: #e7bcb9;
  --color-on-surface: #191c1d;
  --color-on-primary-fixed: #410004;
  --color-primary: #fc1026;
  --color-on-error: #ffffff;
  --color-primary-fixed: #ffdad7;
  --color-tertiary-fixed-dim: #76d6d5;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-fixed: #002020;
  --color-inverse-surface: #2e3132;
  --color-inverse-on-surface: #f0f1f2;
  --color-on-tertiary-container: #9efefd;
  --color-surface-container-highest: #e1e3e4;
  --color-error-container: #ffdad6;
  --color-surface-container-high: #e7e8e9;
  --color-surface-dim: #d9dadb;
  --color-on-error-container: #93000a;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  --spacing-unit: 8px;
  --spacing-margin-desktop: 40px;
  --spacing-margin-mobile: 16px;
  --spacing-stack-sm: 8px;
  --spacing-stack-lg: 48px;
  --spacing-gutter: 24px;
  --spacing-container-max: 1280px;
  --spacing-stack-md: 24px;

  --font-caption: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-headline-md: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  --font-display-lg-mobile: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  --font-body-lg: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-display-lg: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  --font-body-md: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-label-md: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-headline-lg: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;

  --text-caption: 12px;
  --text-caption--line-height: 16px;
  --text-caption--font-weight: 400;

  --text-headline-md: 24px;
  --text-headline-md--line-height: 32px;
  --text-headline-md--font-weight: 600;

  --text-display-lg-mobile: 36px;
  --text-display-lg-mobile--line-height: 44px;
  --text-display-lg-mobile--letter-spacing: -0.02em;
  --text-display-lg-mobile--font-weight: 700;

  --text-body-lg: 18px;
  --text-body-lg--line-height: 28px;
  --text-body-lg--font-weight: 400;

  --text-display-lg: 56px;
  --text-display-lg--line-height: 64px;
  --text-display-lg--letter-spacing: -0.02em;
  --text-display-lg--font-weight: 700;

  --text-body-md: 16px;
  --text-body-md--line-height: 24px;
  --text-body-md--font-weight: 400;

  --text-label-md: 14px;
  --text-label-md--line-height: 20px;
  --text-label-md--letter-spacing: 0.05em;
  --text-label-md--font-weight: 600;

  --text-headline-lg: 32px;
  --text-headline-lg--line-height: 40px;
  --text-headline-lg--font-weight: 600;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-body-md);
}
